<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.harman.vsimakov2.CAPP">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature android:name="android.hardware.usb.accessory" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="DeepLinks">

        <activity
            android:name="com.harman.vsimakov2.CAPP.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.harman.vsimakov2.CAPP.smartDeviceLink.SdlService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.harman.vsimakov2.CAPP.smartDeviceLink.SdlRouterService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService"
            android:process="com.smartdevicelink.router">
            <intent-filter>
                <action android:name="com.smartdevicelink.router.service"/>
            </intent-filter>
            <meta-data
                android:name="sdl_router_version"
                android:value="@integer/sdl_router_service_version_value" />
        </service>

        <receiver
            android:name=".smartDeviceLink.SdlReceiver"
            android:exported="true"
            android:enabled="true"
            tools:ignore="ExportedReceiver">

            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="sdl.router.startservice" />
            </intent-filter>

        </receiver>

    </application>

</manifest>